{% extends "api/base.html" %}
{% block content %}
	<table class="table">
			<thead>
			<tr>
				<th>id |</th>
				<th>Teacher name |</th>
				<th>task</th>
			</tr>
			<tbody>
				{% for data in sended %}
					<tr>
						<td>{{data.id}}</td>
						<td>{{data.tname}}</td>
						<td>
							<a href="/{{data.task.name}}" download="/{{data.task.name}}" class="btn btn-primary btn-sm"> 
                                download file
                            </a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
			</thead>
		</table>
{% endblock %}

