{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Sprawdzarka</title>
	<link rel="stylesheet" type="text/css" href='{% static "css\styles.css" %}'>
</head>
<body>
<div id="container">
	<div class="top">
		<img src='{% static "logo.jpg" %}' id="logo">
	</div>
	<div class="login-panel">
		<a href="/login/"> <button class="button">Logowanie</button></a> 
		<a href="/task/"><button class="button">Oddawanie zadań</button></a>
		<a href="/forum/"><button class="button">Forum</button></a>
		<a href="/admin/"><button class="button">Admin</button></a>
	</div>
	<div class="main">
		<img src="logo.jpg" id="logo2">
	</div>
	<div id="footer">
		
	</div>

</div>
</body>
</html>